@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');
html, body {
    margin: 0;
}
#capa {
    background: url("img/pexels-photo-236380.jpeg");
    height: 100%;
    text-align: center;
    background-size: cover;
}
#titulo {
    font-family: Rajdhani;
    font-size: 55px;
    font-weight: 600;
    padding-top: 20%;
    margin-bottom: 0;
    color: #072109;
}
#subtitulo {
    font-family: Rajdhani;
    font-size: 23px;
    font-weight: 600;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    border: 1px;
    border-radius: 10px;
    margin-top: 0;
    color: #072109;
    background-color: rgb(229, 255, 227, .8);
}
#acao {
    font-family: Rajdhani;
    font-size: 20px;
    font-weight: 600;
    margin-left: 30%;
    margin-right: 30%;
    padding: 5px 10px 5px 10px;
    border: 1px solid #072109;
    border-radius: 10px;
    margin-top: 0;
    text-decoration: none;
}
.cor:hover {
    color: rgb(229, 255, 227, .8);
    background-color: #072109;
}
#projeto {
    background-color: #fafffa;
}
.tamanho {
    width: 55px;
}
.coluna {
    float: left;
    padding: 0 5%;
    position: relative;
    width: 40%;
}
section {
    padding: 2% 4% 2% 4%;
    float: left;
}
#proj {
    font-family: Rajdhani;
    font-size: 25px;
    font-weight: 600;
    margin-top: 0;
    color: #072109;
    text-align: center;
}
#format {
    font-family: Rajdhani;
    font-size: 20px;
    font-weight: 600;
    color: #072109;
    text-align: justify;
    text-indent: 45px;
}
.col {
    float: left;
    padding: 0 5%;
    position: relative;
    width: 15%;
}
#met {
    margin-top: 0;
    font-family: Rajdhani;
    font-size: 25px;
    font-weight: 600;
    color: #072109;
    text-align: center;
}
.mets {
    font-family: Rajdhani;
    font-size: 23px;
    font-weight: 600;
    color: #072109;
    text-align: left;
}
.just {
    font-family: Rajdhani;
    font-size: 20px;
    font-weight: 600;
    color: #072109;
    text-align: justify;
}
#top {
    margin-top: 40px;
}